@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bc: #F8F8F8;
    --white: #fff;
    --black: #1D1D1D;
    --gray: #3E3E3E;
    --green: #108F25;
    --light-green: #00B669;

    --transition: .5s all ease;

    --padding: 20px;

    --radius: 37px;
    --item-radius: 10px;

    --title: 70px;
    --subTitle: 40px;
    --desc: 20px;
}



@media only screen and (max-width: 1199px) {
    :root {
        --title: 60px;
        --subTitle: 30px;
        --desc: 18px;
    }
}

@media only screen and (max-width: 991px) {
    :root {
        --title: 50px;
        --subTitle: 25px;
        --desc: 17px;
    }
}

@media only screen and (max-width: 575px) {
    :root {
        --title: 25px;
        --subTitle: 20px;
        --desc: 15px;
    }
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    user-select: none;
}

html {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    background-color: var(--bc);
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background-color: var(--light-green);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

input {
    padding-left: 10px;
}

button {
    border: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
    white-space: nowrap;
    color: var(--gray);
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

li {
    list-style-type: none;
}

img {
    object-fit: cover;
    user-select: none;
    pointer-events: none;
}

.scrollUp {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    bottom: 30px;
    right: 30px;
    color: #fff;
    background-color: #262626;
    border-radius: 50%;
    cursor: pointer;
    visibility: hidden;
    box-shadow: inset 0 0 10px #000;
    opacity: 0;
    transition: 0.2s;
    transform: translateY(25px);
}

.scrollUp.visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.scrollUp span {
    display: inline-block;
    font-size: 1.2rem;
}

.container {
    width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
}

@media (max-width: 1399px) {
    .container {
        width: 1140px;
    }
}

@media (max-width: 1199px) {
    .container {
        width: 960px;
    }
}

@media (max-width: 991px) {
    .container {
        width: 720px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 540px;
    }
}

@media (max-width: 575px) {
    .container {
        width: 100%;
    }
}

.header {
    height: 65px;
    display: flex;
    align-items: center;
    width: 100%;
    position: sticky;
    z-index: 999;
    top: 0;
    background-color: var(--white);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 48px;
}

.nav__list li a {
    font-size: 15px;
    font-weight: 600;
}

.nav__contact {
    display: flex;
    align-items: center;
    gap: 18px;
}

.nav__contact li a {
    font-size: 15px;
    font-weight: 600;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 0 1rem;
    border-left: 2px solid var(--gray);
    border-right: 2px solid var(--gray);
}

.dropbtn {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dropbtn img {
    width: 20px;
    height: 14px;
    border-radius: 1px;
}

.dropdown-content {
    width: 160px;
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content a {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid var(--gray);
}

.dropdown-content a:last-child {
    border-bottom: 1px solid transparent;
}

.dropdown-content a img {
    width: 20px;
    height: 14px;
    border-radius: 1px;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.nav__contact__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 169px;
    height: 34px;
    border-radius: 5px;
    background-color: var(--green);
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
}

.menu {
    display: none;
}

.opacity {
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--black);
    position: fixed;
    top: 0;
    z-index: 9;
    opacity: .5;
    transform: translateX(-155%);
    transition: var(--transition);
}

.opacity_act {
    transform: translateX(0%) !important;
}

@media only screen and (max-width: 1199px) {
    .nav__list {
        gap: 28px;
    }

    .nav__contact {
        gap: 8px;
    }

    .nav__contact__btn {
        width: 120px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 991px) {
    .nav__list {
        width: 70%;
        height: 100%;
        display: flex;
        position: fixed;
        flex-direction: column;
        top: 0;
        left: -5%;
        padding-top: 100px;
        padding-left: var(--padding);
        transform: translateX(155%);
        transition: var(--transition);
        background-color: var(--white);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .nav__contact {
        width: 70%;
        height: auto;
        display: flex;
        flex-direction: column;
        position: fixed;
        padding: var(--padding);
        top: 350px;
        left: -5%;
        transform: translateX(155%);
        transition: var(--transition);
    }

    .dropdown {
        display: block;
        width: 100%;
        padding: .5rem 1rem;
        border-top: 2px solid var(--gray);
        border-left: none;
        border-right: none;
        border-bottom: 2px solid var(--gray);
    }

    .active_nav {
        transform: translateX(50%) !important;
        transition: all .5s ease-in-out !important;
    }

    .menu {
        width: 30px;
        height: 30px;
        display: block;
        position: relative;
        cursor: pointer;
        z-index: 9999;
    }

    .menu span {
        background-color: var(--green);
        display: block;
        width: 100%;
        height: 3px;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: var(--transition);
    }

    .menu .line-1 {
        width: 70%;
        transform-origin: .6px 8px;
        transform: translate(-7px, -13px);
    }

    .menu .line-3 {
        width: 50%;
        left: auto;
        right: 0;
        transform-origin: 12.5px .5px;
        transform: translate(-1px, 10px);
    }

    .openmenu .line-1 {
        transform: translate(0, 0) rotate(-45deg);
    }

    .openmenu .line-3 {
        transform: translate(-100%, 0) rotate(-45deg);
    }

    .openmenu .line-2 {
        transform: translate(-50%, -50%) rotate(45deg);
    }
}


@media only screen and (max-width: 575px) {
    .nav__list {
        align-items: start;
    }

    .nav__contact {
        align-items: start;
    }

    .nav__list li {
        width: 100px;
    }

    .nav__contact li {
        width: 100px;
    }
}

.intro {
    background-color: var(--light-green);
    position: relative;
}

.intro__bc {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/intro-full-bc.png");
    opacity: .1;
}

.intro .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.intro__left {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.intro__left h2 {
    color: var(--black);
    font-size: var(--subTitle);
    font-weight: 600;
}

.intro__left b {
    color: var(--black);
    font-size: var(--desc);
    font-weight: 600;
}

.intro__left p {
    color: var(--black);
    font-size: var(--desc);
    font-weight: 500;
    line-height: 30px;
}

.intro__left a {
    width: 240px;
    height: 60px;
    background-color: var(--white);
    border-radius: var(--item-radius);
    color: var(--black);
    font-size: var(--desc);
    font-weight: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro__right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 700px;
    background-image: url("../img/intro-bc.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.intro__right img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

@media only screen and (max-width: 1399px) {
    .intro__left {
        width: 50%;
    }

    .intro__right {
        width: 550px;
        height: 550px;
    }
}

@media only screen and (max-width: 1199px) {
    .intro__left {
        width: 50%;
    }

    .intro__left a {
        width: 220px;
        height: 50px;
    }

    .intro__right {
        width: 550px;
        height: 550px;
    }
}

@media only screen and (max-width: 991px) {
    .intro .container {
        flex-direction: column;
    }

    .intro__left {
        margin-top: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .intro__left a {
        width: 200px;
        height: 40px;
    }

    .intro__right {
        padding: 20px 0;
        width: 100%;
        height: 100%;
        background-size: contain;
    }
}

.about {
    padding: 100px 0;
}

.about .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.about__title {
    font-size: var(--title);
    color: var(--black);
}

.about__list1 {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__list1__item {
    position: relative;
}

.about__list1__item p {
    font-size: var(--desc);
    font-weight: 600;
    position: relative;
}

.about__list1__item::before {
    content: "";
    position: absolute;
    top: 15px;
    left: -20px;
    width: 80%;
    height: 20px;
    background-color: var(--light-green);
}

.about__list2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.about__list2__item {
    width: 30%;
    height: 300px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding);
    border-radius: var(--radius);
    background-color: var(--white);
    background-repeat: no-repeat;
}

.about__list2__item img {
    width: 50%;
}

.about__list2__item p {
    width: 70%;
    bottom: 20px;
    font-weight: 600;
    position: absolute;
    text-align: center;
    font-size: var(--desc);
}

.about__list2__item:nth-child(1) {
    background-image: url("../img/xizmatlar-bc1.png");
    background-position: bottom left;
}

.about__list2__item:nth-child(2) {
    background-image: url("../img/xizmatlar-bc2.png");
    background-position: top right;
}

.about__list2__item:nth-child(3) {
    background-image: url("../img/xizmatlar-bc3.png");
    background-position: center;
}

.about__list2__item:nth-child(4) {
    background-image: url("../img/xizmatlar-bc4.png");
    background-position: right;
}

.about__list2__item:nth-child(5) {
    background-image: url("../img/xizmatlar-bc5.png");
    background-position: top left;
}

.about__list2__item:nth-child(6) {
    background-image: url("../img/xizmatlar-bc6.png");
    background-position: bottom;
}

@media only screen and (max-width: 1199px) {
    .about__list2__item {
        width: 28%;
        height: 250px;
        background-size: 50%;
    }

    .about__list2__item:nth-child(3) {
        background-size: contain;
    }
}

@media only screen and (max-width: 991px) {
    .about__list2__item {
        width: 45%;
        height: 250px;
    }
}

@media only screen and (max-width: 767px) {
    .about__list1__item::before {
        height: 10px;
    }

    .about__list2 {
        gap: 20px;
    }
}

@media only screen and (max-width: 575px) {
    .about__list1 {
        width: 90%;
    }

    .about__list2__item {
        height: 180px;
    }

    .about__list2__item p {
        width: auto;
    }
}